.vscode/**
.vscode-test/**
node_modules/**
test/**
src/**
out/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
tsconfig.json
webpack.config.js
push.js
_refs/**
